// All the SCSS Variables goes here

//fonts
$font-size-base: 1rem;
$font-size-medium:30px;
$font-family: 'Josefin Sans', sans-serif;
$font-bold: 500;

// common
$transition-timing: 0.4s;

// Border
$border-radius: 12px;
$rounded-circle: 50%;
$border-bottom:#e2e2e2;

// header
$topbar-padding-x:2rem;
$topbar-padding-y:1rem;
$topbar-icon-size:1.5rem;
// padding: 23px 40px;
//input 
$input-width:362px;
$input-height:45px; 



// sidebar
$sidebar-width: 60px;
$nav-item-padding-x: 1rem;
$nav-item-padding-y: 1rem;
$nav-item-margin-bottom: 2rem;
// $header-nav-padding-x: 1.5rem;
// $header-nav-padding-y: 1.8rem;
// $header-nav-margin-bottom: 1rem;

// spacing
$padding :10px 20px;
$padding-bottom:30px;


// main

$content-wrapper-padding:2.2rem;
$content-header-padding:30px;



// cards
$card-width:25%;
$card-margin-right:20px;
$card-text-font-size: 2rem;
$card-text-font-size-sm: 0.825rem;
$card-icon-font-size: 1.8rem;


// table
$table-container-width: 60%;
$table-width:100%;
$table-header-padding:1rem;
$table-cell-padding:$padding;

// $table-height:100%

// skills & views
$skils-container-width:40%;
$skills-width:100%;