.container {
  background-color: $content-wrapper-bg;
  padding: $content-wrapper-padding;
  .main {
    background-color: $extra-light;
    .content-header {
      padding-bottom: $content-header-padding;
    }
  }
}
// .table-container {
//   width: $table-container-width;
//   table {
//     width: $table-width;
//     text-align: left;
//     background-color: $table-bg-color;
//     padding: $padding;
//     border-collapse: collapse;
//     th,td{
//       width: 20%;
//       padding: 1.75rem 1.75rem;
//     }
//     // td {
//     //   background-color: $table-cell-bg-color;
//     // }
//   }
//   tbody {
//     tr{
//       background-color: $table-row-bg-color;
//       border-bottom: 10px solid white;
//     }
//   }
// }
.skills-container {
  width: $skils-container-width;
  background-color: $white;
}

.table-container {
  
  .table-header {
    table {
      width: 100%;
      text-align: left;
      background-color: $table-bg-color;
    }
    
    th,td {
      padding: 2rem 2rem;
    }
    
  }
  .table-body {
    table {
      text-align: left;
      border-collapse: collapse;
      width: 100%;
      tr {
        background-color: $table-row-bg-color;
        border-bottom: 10px solid white;
      }
      td {
        padding: 2rem 2rem;
      }
    }
    }
}