// Header area style
.header {
  padding: $padding;
  border-bottom: 1px solid $border-bottom;
  height: 91px;
  span {
    flex: 0 0 $sidebar-width;
    padding: $padding;
    color: $primary;
    font-size: $topbar-icon-size;
  }
  .topbar-nav {
    // padding: $topbar-padding-y $topbar-padding-x;
    padding: 12px 17px;
    position: relative;

    @include breakpoint(xl) {
      padding: 12px 33px;
    }
    span {
      position: absolute;
      left: 17px;
      top: 16px;
      height: 21px;
      opacity: 0.5;
    }
  }
  .topbar-items {
    padding: 0 $topbar-padding-x;
    @include breakpoint(xl) {
      padding: 0 1rem;
    }
  }
  .side-icons {
    @include breakpoint(md) {
      position: absolute;
      top: 50px;
      background-color: white;
      right: 40px;
      display: flex;
      flex-direction: column;
      z-index: 100;
      box-shadow: 0 0 12px 2px #0000001c;
      padding: 1rem 0.2rem;
      transform: translateY(-260px);
      transition: $transition-timing all;
    }
    span {
      color: $gray;
    }
  }
}
img {
  height: 20px;
}
.profile {
  height: 45px;
  width: 45px;
  img {
    height: auto;
    max-width: 100%;
  }
}

#check-menu:checked ~ .side-icons {
  transform: translateY(20px);

}
#check-menu{
  display: none;
}
label[for="check-menu"] {
  display: none;
  margin-top: 20px;
  @include breakpoint(md){
    display: block;
  }
}

// .side-icons {
//   position: relative;
//   .icon {
//     // position: absolute;

//     height: 10px;
//     width: 10px;
//     border-radius: 50%;
//     background-color: #fe764b;
//     .pending-1 {
//       @extend .icon;
//       position: absolute;
//       right: 0;
//       top: 0;
//     }
//     .pending-2 {
//       @extend .icon;
//       position: absolute;
//       right: 0;
//       top: 0;
//     }
//   }
// }
.icon-bubble,
.icon-bell {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fe764b;
    top: 4px;
    right: 12px;
  }
}
