// Header area style
.header {
  padding: $padding;
  border-bottom: 1px solid $border-bottom;
  height: 91px;
  span {
    flex: 0 0 $sidebar-width;
    padding: $padding;
    color: $primary;
    font-size: $topbar-icon-size;
  }
  .topbar-nav {
    // padding: $topbar-padding-y $topbar-padding-x;
    padding: 12px 40px;
    position: relative;
    span {
      position: absolute;
      left: 32px;
      top: 16px;
      height: 21px;
      opacity: 0.5;
    }
  }
  .topbar-items {
    padding: 0 $topbar-padding-x;
  }
  .side-icons {
    span {
      color: $gray;
    }
  }
}
img {
  height: 20px;
}
.profile {
  height: 45px;
  width: 45px;
  img {
    height: auto;
    max-width: 100%;
  }
}

// .side-icons {
//   position: relative;
//   .icon {
//     // position: absolute;
    
//     height: 10px;
//     width: 10px;
//     border-radius: 50%;
//     background-color: #fe764b;
//     .pending-1 {
//       @extend .icon;
//       position: absolute;
//       right: 0;
//       top: 0;
//     }
//     .pending-2 {
//       @extend .icon;
//       position: absolute;
//       right: 0;
//       top: 0;
//     }
//   }
// }
.icon-bubble,.icon-bell{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fe764b;
    top: 4px;
    right: 12px;

  }
}
