// sidebar styles

#primarynav {
  flex: 0 0 $sidebar-width;
  padding: $padding;
  transition: all $transition-timing;

  .nav-list {
    .nav-items {
      margin-bottom: $nav-item-margin-bottom;
      padding: $nav-item-padding-y $nav-item-padding-y;
      font-size: $topbar-icon-size;
      a{
         
        color: $gray;
        &:hover{
          color: $primary;
        }

      }
    }
  }
  .bottom-items {
    span {
      margin-bottom: $nav-item-margin-bottom;
      padding: $nav-item-padding-y $nav-item-padding-x;
      color: $gray;
      font-size: $topbar-icon-size;
      // @extend .nav-items;
      // background-color: aqua;
    }
  }
}


.nav-bar {
  position: relative;
  #checkbox {
    // position: absolute;
    display: none;
  }
  label {
    position: absolute;
    top: 50%;
    left: 5%;
    transition: all $transition-timing;
  }
}
label {
  span {
    color: $gray;
    font-size: 1.5rem;
  }

}
#checkbox:checked + #primarynav{
  
      width: 0;
      flex-basis: 0;
      padding: 0px;
      
      
      
    }
    
    #checkbox:checked +#primarynav ~ .toggle {
      left: 0%;
      span{
      display: block;
      transform: rotate(180deg) ;
      
    }
  }