// Button styles goes here
button {
    background-color: $primary;
    color: $white;
    padding: $padding;
    height: 45px;
    border: none;
    font-family: $font-family;
    @include breakpoint(md) {
        display: none;
    } 
}