// Form controls styles goes here
.header {

    input {
        
        padding: $padding;
        background-color:$topbar-input-bg ;
        border: none;
        color: #abb1bf;
        width: $input-width;
        height: $input-height;
        font-family: $font-family;
        &:focus-visible {
            outline: none;
        }
        
    }
}